<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		{% if submitted: %}
			{% if credentials: %}
			<img src="https://media1.giphy.com/media/RNKb0ufdc6gwlUfnvC/giphy.gif?cid=ecf05e47b3tltqa5pxa6zxa9bcpbyvl5jyuafse4j3is6xi0&rid=giphy.gif&ct=g"
			 alt="傑出的一手">
			{% else: %}
				<img src="https://media4.giphy.com/media/JsVlBMEaHdOEGQKLXB/giphy.gif?cid=ecf05e47b3tltqa5pxa6zxa9bcpbyvl5jyuafse4j3is6xi0&rid=giphy.gif&ct=g"
					 alt="錯誤">
			{% endif %}
		{% else: %}
			<h1>Login</h1>
			<form action="{{ url_for('login')}}" method="POST" novalidate>
				{{ form.csrf_token }}
				<p>
				{{ form.email.label }}<br> {{ form.email(size=30) }}
				{% for err in form.email.errors %}
				<span style="color:red"> {{ err }} </span>
				{% endfor %}
				</p>
				<p>
				{{ form.password.label }}<br> {{ form.password(size=30) }}
				{% for err in form.password.errors %}
				<span style="color:red"> {{ err }} </span>
				{% endfor %}
				</p>
				{{ form.submit }}
			</form>
		{% endif %}
        <!-- This is where our form will go. -->
        </div>
	</body>
</html>