{% include "header.html" %}

<!-- BLOG -->
<section class="blog section-padding">
    <div class="container">
            {% if not all_posts %}
            <h1 class="mb-4" data-aos="fade-up">這個人很懶，目前一篇文章都沒有</h1>
            {% else %}
                {% for post in all_posts %}
                <div class="row justify-content-center">
                    <div class="d-flex justify-content-center align-items-center" data-aos="fade-up"
                         data-aos-delay="200">
    <!--                    <img src="../static/images//blog/blog-sidebar-image.jpg" class="img-fluid" alt="blog">-->
                        <div class="blog-info" >
                            <h3 class="blog-category text-danger">發表日期{{post.date}}</h3>
                            <h2><a href="{{ url_for('blog_detail', post_id=post.id) }}">{{post.title}}</a></h2>
                            {% if current_user.id==1 %}
                            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        <div class="row">
            <div class="col align-self-end">
                {% if current_user.id==1 %}
                <div class="post-btn">
                    <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}"> Create New Post</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}