{% include "header.html" %}

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-left">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">{{index.首頁開頭|safe}}</h1>

                                   <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">現在聯繫點這邊~</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-commenting"></i>{{index.聯繫信箱}}</strong>
                              </div>
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2v3ngsFkxAKq52vwzU2ue4?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="../static/images/work-from-home.png" class="img-fluid" alt="work from home">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">{{index.自我介紹開頭|safe }}</h2>

                              <p class="mb-0" data-aos="fade-up">{{index.自我介紹內文|safe}}</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                          <img src="../static/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-6 text-center" data-aos="fade-up">
                            Please take a look through my
                            <strong>Python work!</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="../static/images/matplotlib_1.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
<!--                                        <small>區域醫院數量及醫療量能相關統計</small>-->

                                        <h3>
<!--                                             <a href="project-detail.html">-->
                                                  <span>區域醫院數量及醫療量能相關統計</span>
<!--                                                  <i class="fa fa-angle-right project-icon"></i>-->
                                             </a>
                                        </h3>
                                   </div>
                              </div>
                               <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="../static/images/Python-(Flask_WTForms_SQLite_SQLAlchemy)練習_Moment.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
<!--                                        <small>區域醫院數量及醫療量能相關統計</small>-->
                                       <small>Youtube影片連結</small>
                                        <h3>
                                             <a href="https://youtu.be/CTwjLPm1-tc">
                                                  <span>Flask_WTForms_SQLite_SQLAlchemy應用練習</span>
                                                  <i class="fa fa-youtube"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                  <div class="project-info-img">
                                    <img src="../static/images/Line_bot_demo_Moment.jpg" class="img-fluid" alt="project image">
                                  </div>
                                   <div class="project-info">
<!--                                        <small>(特定區間)Covid-19確診數相關統計</small>-->
                                       <small>Youtube影片連結</small>
                                        <h3>
                                             <a href="https://youtube.com/shorts/IG7dH4VMrzE?feature=share">
                                                  <span>LineBot結合bs4爬蟲應用</span>
                                                    <i class="fa fa-youtube"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="../static/images/tkinter_1.png" class="img-fluid" alt="project image">

                                   <div class="project-info" id="ERP">
<!--                                        <small>GUI練習(ERP系統)</small>-->

                                        <h3>
<!--                                             <a href="project-detail.html">-->
                                                  <span>GUI練習(ERP系統)</span>
<!--                                                  <i class="fa fa-angle-right project-icon"></i>-->
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="../static/images/tkinter_2.png" class="img-fluid" alt="project image">

                                   <div class="project-info">
<!--                                        <small>GUI練習(POS系統)</small>-->

                                        <h3>
<!--                                             <a href="project-detail.html">-->
                                                  <span>GUI練習(POS系統)</span>
<!--                                                  <i class="fa fa-angle-right project-icon"></i>-->
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="../static/images/自動化測網速_爬蟲.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Youtube影片連結</small>
                                        <h3>
                                             <a href="https://youtu.be/VRMuv2pdCvg">
                                                  <span>爬蟲自動化練習</span>
                                                  <i class="fa fa-youtube"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="../static/images/地熱谷.jpg"  class="img-fluid" id="self_photo" alt="大頭貼照">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">現在全台特地天氣</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

<!--                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">{{index.結尾內文|safe}}</h2>-->
                      <p class="mb-4" data-aos="fade-up" data-aos-delay="300">
                              {% if results != undefined %}
                                <table border="2">

                                    <tr>
                                        {% for value in cols %}
                                        <td align="center" ><b> {{ value }}</b> </td>
                                        {% endfor %}
                                    </tr>



                                    {% for row in results %}
                                    <tr>
                                        {% for value in row %}
                                        <td  align="center"> {{ value }} </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% endif %}
                      </p>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>HBR</strong>

                        <span class="mx-1">/</span>

                        <small>Program learner</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>

{% include "footer.html" %}